:root {
    --color-background-mood: #081229;
    --color-text-mood: #fff;
    --color-light-pink: #ec5990;
    --color-form-shadow: #ec59904a;
}

body {
    background-color: var(--color-background-mood) !important;
    color: var(--color-text-mood) !important;
    user-select: none;
}

.home {
    .content {
        p {
            opacity: .5;
        }

        .btn {
            background: var(--Gradient-1, linear-gradient(90deg, #ff9c8d 10.06%, #d655a5 64.19%, #6053cb 100%));
            border: none;
            transition: all .3s ease;

            &:hover {
                color: #ffffffba;
            }

        }
    }

    img {
        border-radius: 50px;
    }
}

.bg_childes {
    fill: var(--color-light-pink);
}

.form {
    padding: 20px;
    background: var(--color-background-mood);
    border-radius: 6px;
    box-shadow: 0 0 10px 1px var(--color-form-shadow);
}

.fill {
    fill: var(--color-text-mood);
}

.no-arrow {
    background-color: transparent !important;
    border: none !important;

    &::after {
        display: none !important;
    }

    &:hover {
        background-color: transparent !important;

    }
}

@media (max-width : 768px) {
    .home {
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;

        .content {
            margin-bottom: 20px;
        }
    }

    .bg_childes,
    .mood {
        width: 20px !important;
    }
}