.headerLeftBar {
    display: flex;
    flex-direction: row;
}

.headerLeftBar>div:first-of-type {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--color-text-mood);
}

@media (max-width: 768px) {
    .headerLeftBar>div:first-of-type {
        margin-right: 10px;
        padding-right: 0;
        border-right: none;
    }

    .headerLeftBar {
        margin-right: 10px;
    }
}